@import "libs/bootstrap-reboot.min";
@import "libs/fonts";

@import "base/mixins";
@import "base/variables";

* {
    font-family: "Gilroy";
    scroll-behavior: smooth;
    color: $colorMain;
    transition: 0.5s all;
}

h1, h2 {
    margin-bottom: 0;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
}

.show {
    display: block;
}

.hide {
    display: none;
}

@import "blocks/title";
@import "blocks/form";
@import "blocks/modals";
@import "blocks/buttons";
@import "blocks/messengers";
@import "blocks/logo";
@import "blocks/slider";
@import "blocks/doctorCard";

@import "blocks/header";
@import "blocks/promo";
@import "blocks/freeConsult";
@import "blocks/promotions";
@import "blocks/service";
@import "blocks/hygiene";
@import "blocks/doctors";
@import "blocks/helper";
@import "blocks/reviews";
@import "blocks/licenses";
@import "blocks/aboutClinic";
@import "blocks/primaryConsult";
@import "blocks/contacts";
@import "blocks/footer";

//Media
@import "media/1800px";
@import "media/1600px";
@import "media/1440px";
@import "media/1200px";
@import "media/1024px";
@import "media/768px";
@import "media/576px";
@import "media/320px";