.btn {
    width: 190px;
    height: 40px;
    border: 2px solid $colorText_2;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    &_withoutBorder {
        border: none;
    }
}