.doctors {
    padding-top: 90px;
    min-height: 1038px;
    &__subtitle {
        width: 1066px;
        text-align: center;
        margin: 30px auto 0 auto;
    }

    &__slider {
        position: relative;  
        margin-top: 30px;
    }
    &__control-prevBtn {
        top: 233px;
        right: 610px;
    }
    &__control-nextBtn {
        top: 233px;
        right: -20px;
    }

    &__slider-nav {
        position: absolute;
        top: 0px;
        padding-inline-start: 0;
        margin-top: 0;
        list-style: none;
    }
    &__nav-item {
        position: relative;
        width: 630px;
        height: 100px;
        border-radius: 20px;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
        background: #F3FEFE;
        padding-top: 23px;
        padding-left: 190px;
        margin-bottom: 31px;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0px;
        }
        &:hover {
            background: $colorBg_1;
        }
    }
    &__nav-img {
        position: absolute;
        bottom: 0px;
        left: 11px;
        width: 165px;
        height: 115px;
    }
    &__nav-name {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
    }
    &__nav-speciality {
        font-weight: 700;
        font-size: 22px;
        line-height: 31px;
        color: $colorText_2;
        margin-top: 7px;
        span {
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            margin-left: 15px;
        }
    }
    &__slider-btn {
        position: absolute;
        width: 190px;
        height: 40px;
        top: 720px;
        right: 209px;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
    }

    .tns-nav-active {
        box-sizing: border-box;
        background: $colorBg_1;
        margin-right: 0;
    }
    .tns-ovh {
        width: 630px;
        margin-left: 660px;
    }
}