.footer {
    height: 150px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 150px;
    }
    &__menu {
        width: 757px;
    }
    &__menu-list {
        display: flex;
        flex-direction: row;
        width: 100%;
        list-style-type: none;
        justify-content: space-between;
        padding-inline-start: 0px;
        margin-bottom: 0px;
    }
    &__list-item {
        font-size: 18px;    
        font-weight: 500;
    }
    &__list-link {
        color: $colorText_2;
        &:hover {
            color: $colorText_2;
            text-decoration: none;
        }
    }
    &__hamburger {
        display: none;
    }
    &__menu-close {
        display: none;
    }
}