.freeConsult {
    padding-top: 128px;
    &__descr {
        text-align: center;
        margin-top: 30px;
    }
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 410px);
        grid-template-rows: minmax(422px, auto);
        column-gap: 30px;
    }
    &__item {
        &_img {
            width: 410px;
            height: 280px;
        }
        &_title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
        }
        &_descr {
            margin-top: 20px;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
        }
    }
    .signUpBtn {
        display: block;
        margin: 40px auto 0 auto;
        width: 404px;
        height: 60px;
        font-weight: 600;
        font-size: 24px;
    }
}