.header {
    &__desktop {
        display: grid;
        grid-template-columns: 300px 190px 160px 460px;
        grid-template-rows: minmax(160px, auto);
        column-gap: 60px;
        align-items: center;
    }
    &__mobile {
        display: none;
    }
    &__address {
        display: flex;
        flex-wrap: wrap;
    }
    &__address-img {
        margin-right: 8px;
        width: 20px;
        height: 22px;
    }
    &__address-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: $colorText_2;
    }
    &__address-descr {
        margin-top: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }
    &__timeWork {
        display: flex;
        flex-wrap: wrap;
    }
    &__timeWork-img {
        width: 22px;
        margin-right: 8px;
        width: 20px;
        height: 22px;
    }
    &__timeWork-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: $colorText_2;
    }
    &__timeWork-descr {
        font-weight: 400;
        margin-top: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }
    &__contacts {
        height: 75px;
        display: grid;
        align-items: center;
        justify-content: flex-end;
        column-gap: 60px;
        grid-template-columns: 65px 178px;
    }
    &__contacts-phones {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.025em;
        text-align: end;
    }
    &__contacts-link {
        &:hover {
            text-decoration: none;
            color: $colorText_2;
        }
        color: $colorMain;
    }
}