.helper {
    padding-top: 90px;
    &__subtitle {
        color: $colorText_2;
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
        span {
            font-weight: 800;
            color: $colorText_1;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 45px;
    }
    &__item {
        padding-top: 10px;
        width: 190px;
        height: 130px;
        background: $colorBg_2;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        text-align: center;
        cursor: pointer;
        &:hover {
            background: $colorBg_1;
        }
        &:hover > &_circle {
            background: $colorBg_2;
        }
        &_title {
            font-weight: 600;
            font-size: 24px;
            line-height: 34px;
            color: $colorText_2;
        }
        &_circle {
            width: 124px;
            height: 124px;
            margin-left: 33px;
            padding-top: 25px;
            border-radius: 100%;
            background: $colorBg_1;
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
            img {
                width: 73px;
                height: 103px;
            }
        }
    }
}