.helper {
    padding-top: 90px;
    &__subtitle {
        color: $colorText_2;
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
        span {
            font-weight: 800;
            color: $colorText_1;
        }
    }
    &__wrapper {
        display: flex;
        column-gap: 30px;
        flex-wrap: wrap;
        margin-top: 45px;
    }
    &__item {
        width: 190px;
        height: 168px;
        cursor: pointer;
        
    }
    &__item-rectangle {
        padding-top: 10px;
        width: 190px;
        height: 130px;
        background: $colorBg_2;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        text-align: center;
        &:hover {
            background: $colorBg_1;
        }
        &:hover > .helper__item-circle {
            background: $colorBg_2;
        }
    }
    &__item-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
        color: $colorText_2;
    }
    &__item-circle {
        width: 124px;
        height: 124px;
        margin-left: 33px;
        padding-top: 25px;
        border-radius: 100%;
        background: $colorBg_1;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    }
    &__item-img {
        width: 68px;
        height: 103px;
    }
}