.licenses {
    padding-top: 84px;
    min-height: 735px;
    &__subtitle {
        margin: 30px auto 0 auto;
        width: 1066px;
        text-align: center;
    }
    .slider {
        &__controls {
            &_prevBtn {
                top: 177px;
                left: -5px;
            }
            &_nextBtn {
                top: 177px;
                right: -5px;
            }
        }
        &__slide {
            img {
                width: 300px;
                height: 400px;
            }
        }
    }
}