.logo {
    display: flex;
    align-items: center;
    width: 300px;
    min-height: 94px;
    &__img {
        width: 95px;
        height: 94px;
    }
    &__name {
        margin-left: 15px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: $colorText_2;
    }
}