.messengers {
    display: grid;
    grid-template-columns: 65px 214px;
    column-gap: 30px;
    justify-content: center;
    margin-top: 10px;

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.messengersIcons {
    display: flex;
    justify-content: space-between;
    width: 65px;
    height: 28px;
    &__img {
        cursor: pointer;
        width: 28px;
        height: 28px;
        &:hover {
            width: 30px;
            height: 30px;
        }
    }
}