.modalSignUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 480px;
        min-height: 115px;
        border-radius: 20px;
        background: $colorBg_2;
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
        padding: 30px 65px 36px 65px;
        text-align: center;
    }
    &__title {
        font-size: 22px;
        line-height: 26px;
    }
    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 42px;
        height: 42px;
        background: url("../icons/close_icon.svg") no-repeat center;
        cursor: pointer;
    }
}

.modalPrice {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 480px;
        height: 400px;
        background: $colorBg_2;
        padding: 60px 33px 68px 33px;
        text-align: center;
    }
    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 42px;
        height: 42px;
        background: url("../icons/close_icon.svg") no-repeat center;
        cursor: pointer;
    }
    &__icon {
        display: block;
        margin: 22px auto 0 auto;
        width: 56px;
        height: 56px;
    }
    &__btn {
        font-size: 20px;
        font-weight: 600;
        margin-top: 21px;
        width: 334px;
    }
    &__messengers {
        margin: 30px auto 0 auto;
    }
}

.modalHelper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: $colorBg_2;
    &__content {
        width: 1290px;
        margin: 0 auto;
        padding-top: 90px;
        padding-bottom: 100px;
    }
    &__close {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 42px;
        height: 42px;
        background: url("../icons/close_icon.svg") no-repeat center;
        cursor: pointer;
        z-index: 20;
    }
    
    &__title {
        font-size: 36px;
        font-weight: 500;
        width: 1180px;
        line-height: 45px;
        span {
            color: $colorText_2;
        }
    }
    &__subtitle {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin-top: 60px;
    }
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 630px);
        column-gap: 30px;
        row-gap: 60px;
        
    }
    &__item {
        cursor: pointer;
    }
    &__signUp {
        width: 630px;
        min-height: 690px;
        padding-top: 30px; 
    }
    &__signUp-title {
        font-size: 28px;
        font-weight: 400;
        line-height: 39px;
        span {
            color: $colorText_2;
        }
    }
    &__signUp-messengers {
        margin-top: 82px;
    }
    &__signUp-wrapper {
        margin-top: 30px;
        padding: 35px 110px 25px 110px;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
        text-align: center;
    }
    &__signUp-subtitle {
        font-size: 24px;    
        font-weight: 500;
        color: $colorText_2;
        line-height: 29px;
        text-align: center;
    }
    &__signUp-form {
        margin-top: 25px;
    }
    &__btns {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;   
    }
    &__btn {
        font-size: 28px;
        font-weight: 400;
        line-height: 39px;
        text-decoration: none;
        color: #474551;
        &:hover {
            color: #474551;
        }
    }
}

.modalResult {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 480px;
        min-height: 115px;
        border-radius: 20px;
        background: $colorBg_2;
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
        padding: 30px 65px 36px 65px;
        text-align: center;
        font-size: 22px;
    }
}