.modalSignUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 480px;
        min-height: 115px;
        border-radius: 20px;
        background: $colorBg_2;
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
        padding: 30px 65px 36px 65px;
        text-align: center;
    }
    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 42px;
        height: 42px;
        background: url("../icons/close_icon.svg") no-repeat center;
        cursor: pointer;
    }
    .signUpForm {
        &__title {
            font-size: 22px;
            color: #000;
            line-height: 24px;
        }
        input {
            &:nth-child(2) {
                margin-top: 18px;
            }
        }
    }
}

.modalPrice {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 480px;
        height: 400px;
        background: $colorBg_2;
        padding: 60px 33px 68px 33px;
        text-align: center;
    }
    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 42px;
        height: 42px;
        background: url("../icons/close_icon.svg") no-repeat center;
        cursor: pointer;
    }
    &__icon {
        display: block;
        margin: 22px auto 0 auto;
        width: 56px;
        height: 56px;
    }
    &__btn {
        font-size: 20px;
        font-weight: 600;
        margin-top: 21px;
        width: 334px;
    }
    .messengers {
        margin-top: 30px;
    }
}

.modalHelper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    &__content {
        position: absolute;
        width: 1920px;
        padding: 90px 315px 200px 315px;
        background: $colorBg_2;
    }
    &__close {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 42px;
        height: 42px;
        background: url("../icons/close_icon.svg") no-repeat center;
        cursor: pointer;
    }
    &__title {
        font-size: 36px;
        font-weight: 500;
        width: 1180px;
        line-height: 45px;
        span {
            color: $colorText_2;
        }
    }
    &__subtitle {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin-top: 60px;
    }
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 630px);
        column-gap: 30px;
        row-gap: 60px;
        
    }
    &__item {
        position: relative;
        width: 630px;
        height: 690px;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
        padding-top: 40px;
        padding-left: 16px;
        cursor: pointer;
        &_name {
            font-size: 28px;
            font-weight: 500;
            margin-left: 14px;
            line-height: 33px;
        }
        &_speciality {
            color: $colorText_2;
            font-size: 22px;
            font-weight: 700;
            line-height: 31px;
            margin-left: 14px;
            margin-top: 11px;
        }
        &_descr {
            position: absolute;
            top: 351px;
            width: 320px;
            height: 326px;
            border-radius: 20px;
            background: rgba(243, 254, 254, 0.80);
            backdrop-filter: blur(6px);
            padding: 16px 10px 12px 14px;
            z-index: 10;
        }
        &_experience {
            color: $colorText_2;
            font-size: 20px;
            font-weight: 400;
            line-height: 36px;
        }
        &_certificates, &_orientation {
            margin-top: 10px;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            span {
                font-weight: 600;
                font-size: 20px;
            }
        }
        img {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 474px;
            height: 620px;
            z-index: 1;
        }
    }

    &__signUp {
        width: 630px;
        height: 690px;
        padding-top: 40px;
        &_title {
            font-size: 28px;
            font-weight: 400;
            line-height: 39px;
            span {
                color: $colorText_2;
            }
        }
        .messengers {
            margin-top: 85px;
        }
        .signUpForm {
            margin-top: 47px;
            border-radius: 20px;
            background: #FFF;
            box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
            padding: 35px 110px 25px 110px;
            text-align: center;
            input {
                &:nth-child(2) {
                    margin-top: 25px;
                }
            }
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        &_main, &_other {
            font-size: 28px;
            font-weight: 400;
            line-height: 39px;
            text-decoration: none;
            color: #474551;
            &:hover {
                color: #474551;
            }
        }
    }
}

.modalResult {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 480px;
        height: 115px;
        border-radius: 20px;
        background: $colorBg_2;
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
        padding: 30px 65px 36px 65px;
        text-align: center;
        font-size: 22px;
    }
}