.promotions {
    padding-top: 90px;
    &__descr {
        width: 1066px;
        margin: 30px auto 0 auto;
        text-align: center;
        span {
            font-weight: 700;
            color: $colorText_1;
        }
    }
    .tns-item {
        img {
            width: 410px;
            height: 410px;
        }
    }
    .slider {
        &__controls {
            &_prevBtn {
                top: 185px;
                left: -50px;
            }
            &_nextBtn {
                top: 185px;
                right: -50px;
            }
        }
    }
}