.promotions {
    padding-top: 90px;
    min-height: 747px;
    &__subtitle {
        width: 1066px;
        margin: 30px auto 0 auto;
        text-align: center;
        span {
            font-weight: 700;
            color: $colorText_1;
        }
    }
    &__slider {
        position: relative;
        margin-top: 29px;
    }
    &__slide-img {
        width: 410px;
        height: 410px;
    }
    &__control-prevBtn {
        top: 185px;
        left: -50px;
    }
    &__control-nextBtn {
        top: 185px;
        right: -50px;
    }
    &__slider-nav {
        margin-top: 33px;
    }
    &__nav-dot {
        width: 18px;
        height: 18px;
        background: $colorBg_1;
        border-radius: 100%;
        margin-right: 20px;
        cursor: pointer;
        &:last-child {
            margin-right: 0px;
        }
    }
    .tns-nav-active {
        background: $colorText_3;
        width: 24px;
        height: 24px;
        margin-right: 20px;
        border-radius: 100%;
    }
}